body {
	margin: 0;
	padding: 0;
}

/*  Akhir global */

header {
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(14, 14, 224, 0.76);
}

header .logo p {
	/* background-color: ; */
	border-radius: 0.7em;
	padding: 0 0.5em;
	margin: 0;
	margin-left: 0em;
	color: aquamarine;
	font-size: 1.1rem;
	font-family: Poppins, sans-serif;
	font-weight: 700;
}

header .logo p span {
	font-style: italic;
	color: mediumaquamarine;
}

header nav {
	display: flex;
	margin-right: 0em;
	cursor: pointer;
}

header nav img {
	width: 1.9rem;
	display: inline-block;
	transition: 0.3s;
}

header nav p {
	margin: 0;
	margin-top: 0.2em;
	font-family: Poppins, sans-serif;
	color: whitesmoke;
}

/* Akhir header */

menu {
	z-index: 3;
	right: 0;
	margin: 0;
	margin-right: 0.5em;
	margin-top: 0.5em;
	padding: 0;
	padding: 0 0.5em;
	height: 9em;
	position: absolute;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
	align-items: left;
	border-radius: 0.5em;
	background-color: whitesmoke;
	box-shadow: 0 0 0.3em gray;

	transition: 0.2s;
	pointer-events: none;
	opacity: 0;
	transform: translate(0, -0.7em);
}

menu a {
	text-decoration: none;
	/* height: 0; */
	margin-bottom: 0.7em;
	font-size: 0.9rem;
	font-family: Montserrat, sans-serif;
	color: black;
}

/* Akhir menu */

main {
	margin-top: 2em;
	display: flex;
	justify-content: center;
}

main .kalkulator {
	background-color: rgb(252, 249, 249);
	box-shadow: 0 0 0.4em grey;
	border-radius: 0.7em;
	padding: 0.8em 1em;
	padding-right: 2.2em;
	width: 13em;
	height: 17em;
	font-family: Montserrat, sans-serif;
	display: grid;
	grid-template-columns: 3em 3em 3em 3em;
	grid-template-rows: 3em 3em 3em 3em 3em;
	grid-gap: 0.5em;
	align-items: center;
	justify-content: center;
	grid-template-areas:
		"input input input input"
		"tujuh delapan sembilan tambah"
		"empat lima enam kurang"
		"satu dua tiga bagi"
		". nol samadengan kali";
}

main input {
	background-color: white;
	outline: none;
	border: 0.05em solid;
	padding: 0em 0.2em;
	text-align: right;
	font-size: 1rem;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	height: 2em;
	grid-area: input;
}

main .angka:focus {
	background-color: grey;
}

main .angka {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
	border-radius: 0.4em;
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
	border: 0.05em solid;
	background-color: white;
	padding: 0.7em;
	width: 1.2em;
}

main .operator {
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
	border-radius: 0.4em;
	width: 1.2em;
	text-align: center;
	padding: 0.7em;
	color: whitesmoke;
	background-color: rgba(14, 14, 224, 0.76);
	border: 0.05em solid black;
	font-weight: 700;
	font-size: 1.2rem;
	/* border-radius: ; */
}

main .nol {
	grid-area: nol;
}

main .satu {
	grid-area: satu;
}

main .dua {
	grid-area: dua;
}

main .tiga {
	grid-area: tiga;
}

main .empat {
	grid-area: empat;
}

main .lima {
	grid-area: lima;
}

main .enam {
	grid-area: enam;
}

main .tujuh {
	grid-area: tujuh;
}

main .delapan {
	grid-area: delapan;
}

main .sembilan {
	grid-area: sembilan;
}

main .tambah {
	grid-area: tambah;
}

main .kurang {
	grid-area: kurang;
}

main .kali {
	grid-area: kali;
}

main .bagi {
	grid-area: bagi;
}

main .samadengan {
	grid-area: samadengan;
}

.delete,
.clear {
	z-index: 2;
	position: fixed;
	display: block;
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.delete img {
	width: 1.2rem;
	margin-left: 14em;
	margin-top: 1.7em;
}

.clear img {
	width: 1.2rem;
	margin-top: 1.7em;
	margin-right: 13em;
}
